html,body,div {margin:0; padding:0; height: 100%; width: 100%; font-size:0;}

.main-wrapper {display:inline-block; width:100%; height:100%;}

.box {  left:25%; top:25%; width:50%; height:50%; position:absolute;}
.box-portrait {width:20%; height:100%; display:inline-block; top: 0; }
.box-landscape {width:100%; height:20%; display:block; left:0; }

.portrait-position-0 {left:0%;}
.portrait-position-1 {left:20%;}
.portrait-position-2 {left:40%;}
.portrait-position-3 {left:60%;}
.portrait-position-4 {left:80%;}

.landscape-position-0 {top:0%;}
.landscape-position-1 {top:20%;}
.landscape-position-2 {top:40%;}
.landscape-position-3 {top:60%;}
.landscape-position-4 {top:80%;}

#red {background-color:#ff0022;}
#yellow {background-color:#ffdd00;}
#orange {background-color:#ff9600;}
#blue {background-color:#006eff;}
#green {background-color:#59B811;}


.test {width:200px;}

.play-button {position: fixed; top: 50px; left: 0px; z-index: 100; background-color: #000; color: #fff; font-family: "Calibri", sans-serif; font-size: 40px; border: 0; transition: padding-left .3s; }
.play-button:hover {padding-left:50px; cursor: pointer; }